@model VendasWeb.Models.UsuarioLogado

<form asp-action="Create">
    <fieldset>
        <legend>Dados de Endereço</legend>
        <div class="form-group">
            <label asp-for="Cep" class="control-label"></label>
            <input asp-for="Cep" id="cep" class="form-control" />
        </div>
        <button type="button" onclick="BuscarCep()" class="btn btn-primary">Buscar Endereço</button>
        <div class="form-group">
            <label asp-for="Logradouro" class="control-label"></label>
            <input asp-for="Logradouro" readonly id="logradouro" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Bairro" class="control-label"></label>
            <input asp-for="Bairro" readonly id="bairro" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Localidade" class="control-label"></label>
            <input asp-for="Localidade" readonly id="localidade" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Uf" class="control-label"></label>
            <input asp-for="Uf" readonly id="uf" class="form-control" />
        </div>
    </fieldset>
    <fieldset>
        <legend>Dados pessoais</legend>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Senha" class="control-label"></label>
            <input asp-for="Senha" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmacaoSenha" class="control-label"></label>
            <input asp-for="ConfirmacaoSenha" class="form-control" />
            <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </fieldset>
</form>

<script>
    var txtCep = document.getElementById("cep");
    var txtLogradouro = document.getElementById("logradouro");
    var txtLocalidade = document.getElementById("localidade");
    var txtUf = document.getElementById("uf");
    var txtBairro = document.getElementById("bairro");

    function BuscarCep() {
        var url = `https://viacep.com.br/ws/${txtCep.value}/json/`;
        fetch(url, { method: "GET" })
            .then(response => response.json())
            .then(json => {
                txtLogradouro.value = json.logradouro;
                txtLocalidade.value = json.localidade;
                txtUf.value = json.uf;
                txtBairro.value = json.bairro;
            })
            .catch(error => console.log(error));
    }</script>
