@model VendasWeb.Models.UsuarioLogado

<form asp-action="Create">
    <fieldset>
        <legend>Dados de Endereço</legend>
        <button type="button" onclick="BuscarCep()" class="btn btn-primary">Buscar Endereço</button>
    </fieldset>
    <fieldset>
        <legend>Dados pessoais</legend>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Senha" class="control-label"></label>
            <input asp-for="Senha" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmacaoSenha" class="control-label"></label>
            <input asp-for="ConfirmacaoSenha" class="form-control" />
            <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </fieldset>
</form>

<script>
    var url = "https://viacep.com.br/ws/01001000/json/";
    function BuscarCep() {
        fetch(url, { method: "GET" })
            .then(response => response.json())
            .then(json => {
                console.log(json);
                console.log(json.logradouro);
            })
            .catch(error => console.log(error));
    }</script>
