@model Produto

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<form asp-action="Cadastrar" asp-controller="Produto" method="post">
    <fieldset>
        <legend>Cadastrar Produto</legend>

        <div asp-validation-summary="ModelOnly"></div>

        <label asp-for="Nome">Nome:</label>
        <input asp-for="Nome" type="text" placeholder="Nome do produto" /><br />
        <span asp-validation-for="Nome"></span><br />

        <label asp-for="Descricao">Descrição:</label>
        <input asp-for="Descricao" type="text" placeholder="Descrição do produto" /><br />
        <span asp-validation-for="Descricao"></span><br />

        <label asp-for="Preco">Preço:</label>
        <input asp-for="Preco" type="text" placeholder="Preço do produto" /><br />
        <span asp-validation-for="Preco"></span><br />

        <label asp-for="Quantidade">Quantidade:</label>
        <input asp-for="Quantidade" type="text" placeholder="Quantidade do produto" /><br />
        <span asp-validation-for="Quantidade"></span><br />

        <input type="submit" value="Cadastrar" />
    </fieldset>
</form>
