@*Tecnlogia de View - Razor*@
<!DOCTYPE html>
<html>
<head>
    <title>Gerenciamento de Produtos</title>
</head>
<body>
    <h2>Gerenciamento de Produtos</h2>
    <a asp-action="Cadastrar" asp-controller="Produto">
        Cadastrar Produto
    </a>
</body>
</html>
